*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
}

.fix{
  clear: both;
  overflow: hidden;
}

.section-padding{
  padding: 50px 0;
}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}

header{
  overflow: hidden;
  height: 100vh;
}

.vid-bg{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-area{
  background: rgba(0, 0, 0, 0);
  height: 60px;
  position: absolute;
  width: 100%;
}


.logo{
  width: 25%;
  text-align: center;
  color: #fff;
  padding-top: 26px;
  padding-left: 26px;
  text-transform: uppercase;
}
.menu-area{
  float: right;
  list-style: none;
  
  
}

.menu-area li{
  display: inline-block;
  
}

.menu-area li a{
  text-decoration: none;
  color: #fff;
  font-size: large;
  padding-top: 50px;
  padding-right: 25px;
  letter-spacing: 2px;
  text-align: center;
}

.menu-area li.active a{
  color: tomato;
}

.menu-area li a:hover{
  color: tomato;
  font-weight: bolder;
}

.welcome-text{
  position: absolute;
  top: 400%;
  text-align: center;
  left: 5%;
  right: 5%;
  text-decoration: wavy;
}

.welcome-text h2{
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.welcome-text p{
  color: #fff;
  font-size: 22px;
  
}
/* 
.btn{
  background: tomato;
  border: none;
  color: #fff;
  padding: 10px 30px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  display: inline-block;
  margin-top: 25px;
} */

.section-header{
  text-align: center;
  margin-bottom: 30px;
}

.section-header h2{
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 0;
}

.line{
  height: 2px;
  width: 100px;
  background: #000;
  display: inline-block;
}

.section-header p{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.about-left{
  width: 50%;
  float: left;
}

.about-left img{
  width: 100%;
}

.about-right{
  float: right;
  width: 50%;
  padding: 30px;
}


/* Media Queries */
@media(max-width: 760px){
  header #branding,
  header .nav-area,
  header .menu-area{
      float: none;
      text-align: center;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
    
  }

  header{
      padding-bottom: 20px;
  }
